In [23]:
str="Hello world"
print(str)
print (str[0])
print (str[2:5])
print (str[2:])
print(str*2)
print (str + " TEst")
print(str.upper())

Hello world
H
llo
llo world
Hello worldHello world
Hello world TEst
HELLO WORLD

In [24]:
var1=100
if var1:
    print("1. Got a true expression value")
    print (var1)
else:
    print("1.Got a false expression value")
    print(var1)

1. Got a true expression value
100

In [9]:
lis1=["apple","australia","banana","cat"]
for i in lis1:
    if i[0]== "a":
        print(i)

apple
australia

In [2]:
var=100
if var == 200:
    print("1.Got a true expression value")
    print(var)
elif var ==100:
    print("2.Got a true expression value")
    print (var)
elif var==100:
    print("3.Got a true expression value")
    print(var)
else:
    print("4.Got a false expression value")
    print(var)

2.Got a true expression value
100

In [3]:
count=0
while(count<0):
    print("the count is: ",count)
    count=count+1
print ("Goodbye!")

Goodbye!

In [5]:
count=0
while(count<5):
    print("is less than 5")
    count=count+1
else:
    print (count, "is not les than 5")

is less than 5
is less than 5
is less than 5
is less than 5
is less than 5
5 is not les than 5

In [6]:
i=2
while(i<100):
    j=2
    while(j<=100):
        if not(i%j): break
        j=j+1
    if(j>i/j): print(i," is prime")
    i=i+1
print("Goodbye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime
Goodbye!

In [7]:
bool =True
print(not(bool))

False

In [8]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [13]:
for i in range(0,-11,-1):
    print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [18]:
# employee1 = {
#   "name" : "Roshi",
#   "other details" : {
#   "empid" : 556,
#   "salary" : 50000
#   }
# }
# employee2 = {
#   "name" : "Bulma",
#   "empid" : 100,
#   "salary" : 40000
# }
# employee3 = {
#   "name" : "Shenron",
#   "empid" : 200,
#   "salary" : 45000
# }

# department = {
#   "emp 1" : employee1,
#   "emp 2" : employee2,
#   "emp 3" : employee3
# }

dic={"A1":"KII", "A2": "IIT", "A3": "ABC", "A4":"T"}
for i in dic:
    if dic[i] in "KIIT":
        print(dic[i])

KII
IIT
T

In [19]:
var=10
while var>0:
    var=var-1
    if var==0:
        continue
    print("Current variable value: ", var)
print("Goodbye!")

Current variable value:  9
Current variable value:  8
Current variable value:  7
Current variable value:  6
Current variable value:  5
Current variable value:  4
Current variable value:  3
Current variable value:  2
Current variable value:  1
Goodbye!

In [20]:
for letter in "Python":
    if letter =="h":
        continue
    print("Current letter: ",letter)

Current letter:  P
Current letter:  y
Current letter:  t
Current letter:  o
Current letter:  n

In [24]:
def func1(mylist):
    mylist.append([1,2,3,4])
    print("Values inside the fucntion: ", mylist)
    return

mylist=[10,20,30]
func1(mylist)
print("Values inside the function: ",mylist)

Values inside the fucntion:  [10, 20, 30, [1, 2, 3, 4]]
Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [26]:
total=0
def sum(arg1,arg2):
    total=arg1+arg2
    print("inside the fucntion local total: ", total)
    return total
sum(10,20)
print("Outside this fucntion global total: ", total)

inside the fucntion local total:  30
Outside this fucntion global total:  0

In [29]:
#Python program to capitalize the first and last character of each word in a string
str1="hello honey bunny"
b=str1[0].upper()
c=str1[-1].upper()
print(b+str1[1:-1]+c)

Hello honey bunnY

In [ ]:
#Python program to check if a string has at least one letter and one number